body {
    background-color: #f8f8f8;
    color: #1b1b1b;
    max-width: 768px;
    margin: 0 auto;
    font-size: 18px;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 0;
    text-align: center;
  }

  #appointments {
    background-color: #ffff;
    color: #1b1b1b;
    max-width:1000px;
    margin-bottom: 20px;
    border: 6px solid #fff;
    border-radius: 8px;
    font-weight: bold;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 21.8px 33.4px rgba(0, 0, 0, 0.086),
    0 10px 10px rgba(0, 0, 0, 0.12);
  }

  .bingocell{
    display: inline-block;
    width:8%;
    text-align: center;
    height:8%;
    border: 1px solid transparent;
    padding: 17px 0px;
  }
 
  input[value="Random"] {
    background-color:transparent;
    color: #7B8CDE;
    cursor: pointer;
    min-height: 44px;
    width: 200px;
    border: 2px solid #7B8CDE;
    transition: all ease .7s;
    display: flex;
    text-align: center!important;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size:20px;

  }
  input[value="Random"]:hover {
    transition: all ease .7s;
    background-color:#7B8CDE;
    color: #fff;
    cursor: pointer;
    min-height: 44px;
    width: 200px;
    border: 2px solid #7B8CDE;
  }

  .selected {
    transition: all ease .7s;
    background-color:  #7B8CDE;
    border-radius: 100%;
  }



  @media (max-width: 600px){
    #appointments {
      background-color: #ffff;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      color: #1b1b1b;
      max-width:300px;
      margin-bottom: 20px;
      border: 3px solid #fff;
      border-radius: 8px;
      font-weight: bold;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 21.8px 33.4px rgba(0, 0, 0, 0.086),
      0 10px 10px rgba(0, 0, 0, 0.12);
    }
  
    .bingocell{
      display: inline-block;
      width:8%;
      text-align: center;
      height:5%;
      border: 1px solid transparent;
      padding: 10px 10px;
    }
    .selected {
      transition: all ease .7s;
      background-color:  #7B8CDE;
      border-radius: 100%;
    }
  }